.section-venues {
	position: relative;
	padding: 15rem 0;
}

.u-center-text {
	text-align: center !important;
}
.u-margin-bottom-big {
	margin-bottom: 8rem !important;
}

.u-margin-top-big {
	margin-top: 8rem !important;
}

.u-margin-top-huge {
	margin-top: 10rem !important;
}
.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, #7ed56f, #28b485);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all .2s;
}
.heading-secondary:hover {
	transform: skewY(2deg) skewX(15deg) scale(1.1);
	text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
